@import '../../styles/styles.scss';

.videoPage__segment{
    @include desktop{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        height: 86vh;
        flex-direction: column;
        .videoSection{
            width: 60%;
            padding-left:15rem;
            height: 45%;
            padding-right: 0;
            // height: 50%;
        }
        .commentSection{
            width: 60%;
            padding-left:15rem;
            height: 50%;
            padding-right: 0;

            // height: 20%;

        }
        .playlistSection{
            border-left:2px solid $card-border;
            width: 40%;
            height: 100%;
            padding-right: 10rem;
        }

    }
}