@import "../../styles/styles.scss";

.commentCard {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $card-border;
  display: flex;
  justify-content: space-between;
  &__body {
    width: 75%;
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 90%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    @include tablet{
      justify-content: initial;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 1.5rem;
    justify-self: flex-start;
    margin-right: 1rem;

    @include desktop{
      font-size: 1.2rem;
    }
  }
  &__date {
    font-size: 1.5rem;
    color: $text-subtitle-color;

    @include desktop{
      font-size: 1.2rem;
    }
  }
  &__text {
    width: 100%;
    margin-top: 0.5em;
    font-size: 1.4rem;
    line-height: 2rem;
    @include desktop{
      font-size: 1.2rem;
      line-height:1.5rem;
    }
  }
}
