@import '../../styles/styles.scss';

button{
    color: #fff;
    background-color: $button-main;
    font-family:$global-font;
    font-size:1.5rem;
    width: 80%;
    padding:1em 2em;
    border-radius: 5px;
}