@font-face {
    font-family: "Avenir";
    src: url("../../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
    font-weight: 400;
  }
 
  @font-face {
    font-family: "Avenir";
    src: url("../../fonts/AvenirNextProLT/Alternative files/Linotype - Avenir Next LT Pro Demi.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Avenir";
    src: url("../../fonts/AvenirNextProLT/Alternative files/Linotype - Avenir Next LT Pro Bold.ttf");
    font-weight: 700;
  }