@import "../../styles/styles.scss";

.commentSection__form {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-label {
    color: $text-subtitle-color;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    @include tablet {
      width: 100%;
    }
  }
  &-input {
    width: 100%;
    border: 2px solid $card-border;
    background-color: $secondary-background-color;
    border-radius: 5px;
    margin-bottom: 2rem;
    resize: none;
    padding: 1rem 1rem 6rem;

    @include tablet {
      width: 70%;
      padding: 1rem 1rem 1rem;
      margin-bottom: 0;
      height: 55%;
    }
    @include desktop{
      width: 70%;
    }

    &:focus {
      border: 2px solid $primary-background-color;
      outline: none;
    }
    &::placeholder {
      color: $font-color;
      font: 1.3rem $global-font;
    }
  }
  &-submit {
    width: 100%;
    @include tablet {
      width: 28%;
      height: 55%;
      padding: 0;
      button{
        padding:0.8em ;
      }
    }
    @include desktop{
      padding-right:2em;
      button{
        padding:1em;
      }
    }
  }
}
