@import "../../styles/styles.scss";

.playButton {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  background-color: rgba(33, 32, 32, 0.7);
  background-image: url(./assets/Icon-play.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 32em;
  left: 1em;
  @include tablet {
    top: 45em;
    left: 3em;
  }
  @include desktop {
    top: 48em;
    left: 23em;
  }
}
.videoButtons__right {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: rgba(33, 32, 32, 0.7);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 32em;
  right: 1em;
  @include tablet {
    top: 45em;
    right: 3em;
  }
  @include desktop {
    top: 48em;
    right: 23em;
  }
}
.fullScreen {
  height: 40px;
  width: 50px;
  background-image: url(./assets/Icon-fullscreen.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.volume {
  height: 40px;
  width: 50px;
  background-image: url(./assets/Icon-volume.svg);
  background-repeat: no-repeat;
  background-position: center;
}
