@import "../../styles/styles.scss";

.uploadSection {
  @include mobile-padding;
  &__title {
    font-size: 2.5rem;
    margin:1em 0;
  }
}

.uploadForm {
  display: flex;
  flex-direction: column;
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  &__label {
    color: $text-subtitle-color;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  &__input {
    border: 2px solid $card-border;
    background-color: $secondary-background-color;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    &::placeholder {
      color: $font-color;
      font: 1.5rem $global-font;
    }
    &:focus {
      border: 2px solid $primary-background-color;
      outline: none;
    }
  }
  &__txtArea {
    border: 2px solid $card-border;
    background-color: $secondary-background-color;
    border-radius: 5px;
    resize: none;
    padding: 1rem 1rem 6rem;

    &:focus {
      border: 2px solid $primary-background-color;
      outline: none;
    }
    &::placeholder {
      color: $font-color;
      font: 1.5rem $global-font;
    }
  }

  &__cancel button {
    background-color: white;
    color: $button-main;
  }
}
