// color
$font-color: #323232;
$primary-background-color: #323232;
$secondary-background-color:#fafafa;
$card-border: #E1E1E1;
$text-subtitle-color: #AFAFAF;

// media
$tablet:768px;
$desktop:1200px;

// font
$global-font: "Avenir", sans-serif;